nuxeo-platform-faceted-search-jsf/src/main/resources/schemas/faceted_search_configuration.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/facetedSearchConfiguration/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/facetedSearchConfiguration/">

  <xs:simpleType name="stringArray">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="allowedContentViews" type="nxs:stringArray"/>
  <xs:element name="deniedContentViews" type="nxs:stringArray"/>

</xs:schema>
